.player {
    width: 200px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;

    span {
        font-size: 24px;
        margin-left: 16px;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.player-active {
    background-color: orange !important;
}