.player {
    width: 100px;
    height: 25;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 1px 0px 0px #555555;
    background: linear-gradient(to bottom, #5f5f5f 5%, #727272 100%);
    background-color: #575757;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #585858;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;

    span {
        font-size: 14px;
        margin-left: 12px;
    }
}

.player-active {
    width: 120px;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border: 1px solid #942911;

    span {
        font-size: 18px;
    }
}